#about {
  padding-top: 7vh;
}

.flexCards {
  display: flex;
  justify-content: center;
  width: 100%;
}

.flexWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 1000px;
}

/* .gridCards {
  display: grid;
  padding-top: 10em;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 30em;
  grid-gap: 3em 2em;
  width: 45%;
} */

.num1 {
  width: 300px;
  margin: auto 1px;
}

.num2 {
  width: 300px;
  margin: auto 30px;
}

.num3 {
  width: 300px;
  margin: auto 1px;
}

.num4 {
  width: 461px;
  margin-right: 42px;
  margin-top: 35px;
}

.num5 {
  width: 461px;
  margin-top: 35px;
}
