img {
  width: 100%;
}

.bootstrapText {
  width: 100%;
  text-align: center;
  background-color: #f2f2f2;
  padding-bottom: 30px;
  margin-top: -5px;
}

.titleTopRow {
  font-size: 20px;
  font-weight: 700;
  padding: 0 20px;
  text-align: left;
  margin-bottom: 0;
}

.bootstrapTitle {
  font-size: 20px;
  font-weight: 700;
  padding: 0 20px;
  margin-bottom: 0;
}

.topRowButtons {
  visibility: visible;
  width: 150px;
  color: white;
  border-radius: 6px;
}

.cardContents {
  display: grid;
  grid-template-rows: 1fr 3fr;
}

.bootstrapBody {
  padding: 0 20px;
  text-align: left;
  margin-top: 0;
}
