img {
  width: 100%;
}

.bootstrapText {
  width: 100%;
  text-align: center;
  background-color: #f2f2f2;
  padding-bottom: 30px;
  margin-top: -5px;
}

.title {
  font-size: 20px;
  font-weight: 700;
  padding: 0 20px;
  margin-bottom: 0;

  &__aboutTopRow{
    text-align: left;

    &--green{
      color: #178A27;
    }

    &--blue{
      color: #1686C1;
    }

    &--red{
      color: #666666;
    }
  }

  &__aboutBottomRow{
    color: #666666;
  }
}

.bootstrapTitle {
  font-size: 20px;
  font-weight: 700;
  padding: 0 20px;
  margin-bottom: 0;
}

.topRowButtons {
  visibility: visible;
  width: 150px;
  color: white;
  border-radius: 6px;
}

.cardContents {
  display: grid;
  grid-template-rows: 1fr 3fr;
}

.cardButton {
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}

.bootstrapBody {
  padding: 0 20px;
  text-align: left;
  margin-top: 0;
  font-size: 14px;
  line-height: 1.2em;
  color: #333333;
  margin: 10px 0;

  &--lineBreak{
    margin-top: -25px;
  }
}

.card {
  &__aboutTopRow{
    width: 300px;
    padding-right: 25px;
  }

  &__aboutBottomRow{
    width: 461px;
    margin-top: 35px;
    padding-right: 30px;
  }

  &__servicesTopRow{
    width: 200px;
  }

  &__servicesBottomRow{
    width: 875px;
  }
}
