.contactBody{
  display: flex;
  justify-content: center;
  flex-direction: column;

  > h2{
    text-align: center;
  }
}

.btn-center{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}