/*hamburger menu*/
/* the reason why the hamburger menu was showing inside the list is that the list is fixed to the top, 
you have to add padding/margin to have it show below*/
.hamburgerWrapper {
  width: 100%;
  height: 65px;
  position: fixed;
  background-color: black;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  cursor: pointer;
  background-color: black;
  margin-left: 11px;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 6px;
  background-color: turquoise;
  margin: 3px 5px;
}

.hamburgerOpen {
  position: fixed; /* sit on top of page content*/
  visibility: hidden; /*Hidden by default*/
  width: 25%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  margin-left: auto;
  margin-right: 0;

  &__visible{
    visibility: visible;
  }
}

.hamburgerMenu {
  position: fixed;
  visibility: hidden;
  width: 75%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 1);
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  
  &__visible{
    visibility: visible;
  }
}

.btn {
  &__hamburger{
    height: 65px;
    padding-top: 10px;
  }

  &--hidden{
    visibility: hidden;
  }
}

.box {
  visibility: hidden;
  position: fixed;
  background-color: white;
  z-index: 0;
  margin-top: 2.5em;
  margin-left: 3em;
  height: 15em;
  width: 50%;

  &__visible{
    visibility: visible;
  }
}
