#services {
  padding-top: 7vh;
}

.parallax {
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;

  &__servicespage{
    background-image: url("bg-2.jpg");
  }

  &__contactpage{
    background-image: url("")
  }
}

.testHeader {
  color: #fff;
  text-transform: capitalize;
  text-shadow: 2px 2px #aaa;
  font-weight: 500;
  line-height: 1.1;
  font-size: 36px;
  margin-bottom: 0;
}

.testParagraph {
  color: #fff;
  font-size: 18px;

  /* note for the future: this css will create defined height and width sized box which has a vertical scroll for the overflowed text
    color: #fff;
    font-size: 19px;
    margin: 0 35px;
    height: 175px;
    width: 165px;
    overflow: hidden auto;
  */
}

.flexServices {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  width: 100%;
}

.card--Medium {
  padding-top: 10vh;
  width: 500px;
}
