.parallaxWrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}

.parallax {
}

.parallax--bg {
  background-image: url("bg-2.jpg");
}

.parallax__flex {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}
