.parallaxWrapper {
  height: 1000px;
}

.parallax {
}

.parallax--bg::after {
  background-image: url("bg-2.jpg");
}

.parallax__flex {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}
