.parallax {
  background-image: url("bg-2.jpg");
  height: 200px;

  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.testHeader {
  color: #fff;
  text-transform: capitalize;
  text-shadow: 2px 2px #aaa;
  font-weight: 500;
  line-height: 1.1;
  font-size: 36px;
  margin-bottom: 0;
}

.testParagraph {
  color: #fff;
  font-size: 18px;
}
